.imagen__toroMetalico{
    max-height: 120px;
    max-width: 120px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.imagen__toroFondoNegro{
    max-height: 700px;
    max-width:700px ;
    width: 100%;
    display: flex;
    border: 15px solid rgb(30, 142, 233);
}


.imagen{
  width: 500px;
  height: 650px;
    display: flex;
}

.imagen__promo{
    width: 414px;
    height: 650px;
    display: flex;
}

/* main */

.centrado{
    display: flex;
    justify-content: center;
}

.toro{
    display: flex;
}

.toro img:hover{
    transform: scale(1.2);
}  

.centrado img{
    animation: mov1 linear infinite 2s;
}

@keyframes mov1 {
    50%{transform: scale(1.1);}
    75%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.centrado2{
    display: flex;
    justify-content: center;
}

.centrado2 img{
    border-radius: 50%;
   animation: rotacion 10s linear infinite;
}

@keyframes rotacion{
   0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}


.promocion{
    width: 600px;
    height: 600px;
}