
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.centrado{
    display: flex;
    justify-content: center;
    &__imagen{

    }
}

.navegador{
    max-width: 1000px;
    width: 100%;
    height: 130px;
    display: flex;
    &__imagen{
        width: 120px;
        height: 120px;
        
    }
    &__imagen:hover{
        transform: scale(1.1);
    }
}


/* -----index------ */

.inicio{
 
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    grid-template-rows: 1fr ;
 
    &__imagen{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    &__texto{
        
        font-family: 'Raleway', sans-serif;
        font-size: 150px;
        color: rgb(255, 255, 255);

    }

    &__boton{
        
        height: 100%;
        width: 100%;
      
     
    }

}

@media (max-width: 1415px){
    .inicio__texto{
        font-size: 100px;
    }

}

@media (max-width: 900px)
{
    .inicio__texto{
        font-size: 50px;
    }
}

@media (max-width: 490px)
{
    .inicio__texto{
        font-size: 25px;
    }
}




/*-------Galeria-------- */

.galeria{

    &__imagen{
        height: 700px;
        width: 500px;
    }
}

@media (max-width: 541px){
    /* la clase*/
    .galeria{
        &__imagen{
            height: 100%;
            width: 100%;
        }
    }
    

}

/*-------Promos--------*/
.promo{

    &__imagen{
      
        height: 600px;
        width: 100%;
       
       
    }
}

    @media (max-width: 581px){
        /* la clase*/
        .promo{
            &__imagen{
             height: 100%;
             width: 100%;
            }
        }
        
    
    }


/*-------Tienda--------*/

.tienda{

    &__imagen{
        height: 750px ;
        width: 100%;

    }
}

@media (max-width: 1000px){
    /* la clase*/
    .tienda{
        &__imagen{
            height: 300px;
        }
    }
    

}

@media (max-width: 767px){
    /* la clase*/
    .tienda{
        &__imagen{
            height: auto;
        }
    }
    

}

/*-------Contacto--------*/

.contacto{

    &__imagen{
        height: 30%;
        width: 30%;
        
        animation: ensanche 3s linear infinite ;
    }
}

@keyframes ensanche{
    25%{transform: scale(1.1);}
    50%{transform: scale(1.2);}
    75%{transform: scale(1.1);}
    100%{transform: scale(1);}

}

@media (max-width: 327px){
    /* la clase*/
    .contacto{
        &__imagen{
            display: none;
        }
    }
    

}
/* -----Nosotros----  */

.nosotros{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
    
    &__texto{
       color: black;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        
    }

    &__imagen{
        height: 550px;
        width: 100%;
        
    }

}





@media (max-width: 274px){
    /* la clase*/
    .nosotros{
        &__texto{
            font-size: 100%;
        }
    }

}

@media (max-width: 1250px){
    /* la clase*/
    .nosotros{
        &__imagen
        {
            height: 100%;
        }
    }
}

/* ----map-------  */

$colores:(
    azulHiit: rgb(49, 113, 231),
    grisHiit: rgb(44, 43, 43)
);



@each $valor, $color in $colores{
    .fondo__#{$valor}{
        background-color: $color;
    }
}

/*----- mixin -----*/
@mixin colors ($colorLetra){
   color: $colorLetra;

}

/*------ extend -----*/

.nosotros2{
    @extend .nosotros;
    background-color: rgb(49, 113, 231);
}

.inicio__texto2{
    @extend .inicio__texto;
    font-size: 60px;
}